body {
    font-family: 'Nunito', 'Calibri', 'Candara', sans-serif;
    width: 751px;
    margin: 0 auto;
}
.header {
    height: 236px;
    background-color: #2D7053;
    display: flex;
    flex-direction: row;
}
.headerLeft {
    width: 237px;
}
.headerCyrcle {
    width: 142px;
    height: 142px;
    margin-top: 47px;
    margin-left: 38px;
    border-radius: 50%;
    background-color: white;   
}
.headerCenter {
    width: 385px;
}
.headerText {
    width: 134px;
    height: 131px;
    margin-top: 48px;
    color: #FFFFFF;
    font-size: 26px;
    text-transform: capitalize;
}
.headerRight {
    width: 129px;
}
.headerIconMenu {
    width: 85px;
    height: 90px;
    margin-top: 84px;
}
.iconElement {
    width: 85px;
    height: 13px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: white;  
}
.reception {
    height: 468px;
    background-image: url("img/back.png");
}
.cover {  
    position: relative;
    height: 468px;
    background-color: rgba(0, 0, 0, 0.3);
}
.areaButton_1 {
    position: absolute;
    top: 368px;
    left: 204px;
}
.button {
    width: 342px;
    height: 75px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Nunito', 'Calibri', 'Candara', sans-serif;
    text-transform: uppercase;
    background-color: #CB9223;
    cursor:pointer;
    }
.button:hover {
    background: rgb(221, 145, 3);
}
.persona {
    height: 368px;
    display: flex;
    flex-direction: row;
}
.personaFoto {
    width: 357px;
}
.photo {
    width: 255px;
    height: 255px;
    margin-top: 60px;
    margin-left: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.personaName {
    width: 393px;
}
.name {
    width: 210px;
    height: 27px;
    margin-top: 140px;
    font-size: 32px;
    line-height: 27px;
}
.specialization {
    width: 247px;
    height: 50px;
    margin-top: 29px;
    font-size: 22px;
    line-height: 24px;
}
.description {
    height: 520px;
}
.textDescription {
    width: 590px;
    height: 166px;
    margin-left:35px;
    font-size: 22px;
    line-height: 27px;
}
.titleCauses {
    width: 545px;
    height: 32px;
    margin-top: 46px;
    margin-left:35px;
    font-size: 32px;
}
.listCauses {
    width: 305px;
    height: 190px;
    margin-top: 46px;
    margin-left:35px;
    font-size: 22px;
    line-height: 27px;
}
ul {
    list-style: none;
}
ul li::before {
    content: "-";
    display: inline-block; /* Расстояние между символом и текстом */
    width: 1em; /* Задать значение расстояния */
}
.divButton {
    position: relative;
    height: 160px;
}
.areaButton_2 {
    position: absolute;
    top: 14px;
    left: 204px;
}
.footer {
    height: 154px;
    background-color: rgba(136, 136, 136, 1);
    display: flex;
    flex-direction: row;
}
.footerLeft {
    width: 325px;
}
.footerCyrcle {
    width: 97px;
    height: 97px;
    margin-top: 29px;
    margin-left: 45px;
    border-radius: 50%;
    background-color: white;   
}
.footerCenter {
    width: 237px;
}
.footerTextCenter {
    width: 199px;
    height: 17px;
    margin-top: 102px;
    color: #FFFFFF;
    font-size: 15px;
}
.footerRight {
    width: 189px;
}
.footerTextRight_1 {
    width: 144px;
    height: 17px;
    margin-top: 53px;
    margin-right: 45px;
    text-align: right;
}
.tel {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}
.footerTextRight_2 {
    width: 144px;
    height: 17px;
    margin-top: 31px;
    margin-right: 45px;
    text-align: right;
}